{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}

  {% if user.is_active %}
    <div style="text-align: center;">
        <a href ="{% url 'applyapp:create' %}" class = "btn btn-info">Apply Project</a>
    </div>
<br><br><br>
    <table class = "table">
        <thead>
            <tr>
                <th scope = "col">#</th>
                <th scope = "col">지원분야</th>
                <th scope = "col">언어</th>
                <th scope = "col">프레임워크</th>
                <th scope = "col">프로젝트</th>
                <th scope = "col">Modify</th>
                <th scope = "col">진행상태</th>
            </tr>
        </thead>
        <tbody>
            {% for apply in applys %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a >{{apply.work}}</a></td>
                <td><a >{{apply.language}}</a></td>
                <td><a >{{apply.framwork}}</a> </td>
                <td><a href="{% url 'articleapp:detail' pk=apply.offer_id %}">링크</a> </td>
                <td><a class="btn btn-success btn-sm">Modify</a></td>
                {% if apply.decision == 1 %}
                <td><a >결정 전입니다!</a> </td>
                {% elif apply.decision == 2 %}
                <td><a >수락!</a> </td>
                {% else %}
                <td><a >거절</a> </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div style="text-align: center;">

<h2>로그인 후 서비스를 이용하 실수 있습니다.</h2>
    </div>
{% endif %}
{% endblock %}

