    <div class="pragmatic_header">
        <div>
            <h1 class="pragmatic_logo">Pragmatic</h1>
        </div>
        <div class="pragmatic_header_navbar">
            <a  class="pragmatic_header_nav">
            <span>Articles</span>
            </a>
            <a class="pragmatic_header_nav">
            <span>Projects</span>
            </a>
            <a  class="pragmatic_header_nav">
            <span>Subscription</span>
            </a>

            <a  class="pragmatic_header_nav">
            <span>Login</span>
            </a>
            <a  class="pragmatic_header_nav">
            <span>SignUp</span>
            </a>
            <a  class="pragmatic_header_nav">
                <span>MyPage</span>
            </a>
        </div>
    </div>