<!-- header -->
<div class="banner">
	<div class="container">
		<div class="header">
			<div class="logo">
				<a href="{%url 'accountapp:index' %}"><img src="/static/images/logo2.png" class="img-responsive" alt="" /></a>
			</div>
			<div class="header-right">

				</ul>

			</div>
				<div class="clearfix"> </div>
			</div>
				<div class="head-nav">
					<span class="menu"> </span>
						<ul class="cl-effect-15">
						<li class="active">
							<li><a href="{%url 'accountapp:index' %}">HOME</a></li>
							<li><a href="{%url 'articleapp:index' %}" data-hover="모집중인 프로젝트">모집중인 프로젝트</a></li>
							<li><a  data-hover="프로젝트 후기">프로젝트 후기</a></li>
							  {% if user.is_active %}
							<li><a href="{%url 'articleapp:create'%}" data-hover="모집글 작성">모집글 작성</a></li>
							<li><a href="{%url 'accountapp:logout'%}" data-hover="로그아웃">로그아웃</a></li>
							{% else %}
							<li><a href="{%url 'accountapp:login'%}" data-hover="모집글 작성">모집글 작성</a></li>
							<li><a href="{%url 'accountapp:login'%}" data-hover="로그인">로그인</a></li>

							{% endif %}
							<div class="clearfix"> </div>
						</ul>
				</div>

						<!-- script-for-nav -->
					<script>
						$( "span.menu" ).click(function() {
						  $( ".head-nav ul" ).slideToggle(300, function() {
							// Animation complete.
						  });
						});
					</script>
				<!-- script-for-nav -->
	</div>
</div>
<!-- header -->