{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}
    <div class="btn-group">
        <a href ="{% url 'articleapp:create' %}" class = "btn btn-info">Add Project</a>
    </div>
    {% for article in article %}
    <h2><a href="{% url 'articleapp:detail' pk=article.pk %}">
        {{ article.title }} 프로젝트
    </a></h2>
    {% endfor %}
    <p></p>
    <table class = "table">
        <thead>
            <tr>
                <th scope = "col">#</th>
                <th scope = "col">분야</th>
                <th scope = "col">언어</th>
                <th scope = "col">프레임워크</th>
                <th scope = "col">상세페이지</th>
                <th scope = "col">Modify</th>
                <th scope = "col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for apply in applys %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a >{{apply.work}}</a></td>
                <td><a >{{apply.language}}</a></td>
                <td><a >{{apply.framwork}}</a> </td>
                <td><a href="{% url 'applyapp:detail' pk=apply.pk %}">링크</a> </td>

                <td><a class="btn btn-success btn-sm">Modify</a></td>
                <td><a class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

