{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}
{% if user.is_authenticated %}
    <div style="text-align: center;">
        <a href ="{% url 'articleapp:create' %}" class = "btn btn-info">Add Project</a>

    {% for article in article %}
    <h4><a href="{% url 'articleapp:detail' pk=article.pk %}">
        {{ article.title }} Project 지원자 리스트
    </a></h4>
    </div>
<br><br><br>
        {% endfor %}
    <p></p>
    <table class = "table">
        <thead>
            <tr>
                <th scope = "col">#</th>
                <th scope = "col">분야</th>
                <th scope = "col">언어</th>
                <th scope = "col">프레임워크</th>
                <th scope = "col">작성자</th>
                <th scope = "col">Link</th>
                <th scope = "col">진행상태</th>
            </tr>
        </thead>
        <tbody>
            {% for apply in applys %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a >{{apply.work}}</a></td>
                <td><a >{{apply.language}}</a></td>
                <td><a >{{apply.framwork}}</a> </td>
                <td><a href="{% url 'applyapp:detail' pk=apply.pk %}">{{apply.applicant}}</a> </td>

                <td><a href="{% url 'applyapp:detail' pk=apply.pk %}"class="btn btn-success btn-sm">지원글로 이동</a></td>
                {% if apply.decision == 1 %}
                <td><a >결정 전입니다!</a> </td>
                {% elif apply.decision == 2 %}
                <td><a >수락!</a> </td>
                {% else %}
                <td><a >거절</a> </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div style="text-align: center;">

<h2>로그인 후 서비스를 이용하실 수 있습니다.</h2>
    </div>
{% endif %}

{% endblock %}

