
{% extends 'base.html' %}
{% block content %}


	<div class="details">
		<div class="container">
			<h2>{{target_article.title}}</h2>
			<div class="det_text">
			간단한 프로젝트 소개글
				<p> {{target_article.introduce}}</p>
			</div>
			<div class="det_pic">
				  <img src="{{ target_article.thumbnail.url }}" class="img-responsive" alt="">
			</div>
			<div class="det_text">
				내용
				<p> {{target_article.content | safe}}</p>
			</div>
			<div class="det_text">
				질문
				<p> {{target_article.question}}</p>
			</div>
			<ul class="links">
				  		 <li><i class="date"> </i><span class="icon_text">{{target_article.created_at}}</span></li>
				  		 <li><a href="#"><i class="admin"> </i><span class="icon_text">{{target_article.publisher}}</span></a></li>
				    </ul>
					<ul class="links_middle">
						{%  if target_article.publisher == user %}
			  		     <li><a href="{% url 'articleapp:update' pk=target_article.pk %}"><i class="title-icon"> </i><span class="icon_text">수정/삭제하기</span></a></li>
				  		 <li><i class="tags"> </i><span class="icon_text">모집글 마감하기</span></li>
						{% endif %}
						{% if user.is_active %}
				  		 <li class="last"><a href="{% url 'applyapp:create' %}"><i class="permalink"> </i><span class="icon_text">지원하기</span></a></li>
						{% endif %}
		  		    </ul>
						{%  if target_article.publisher == user %}

					<ul class="links_bottom">
						<li ><form action="{% url 'articleapp:applylist'%}" method="post">
								{% csrf_token %}
								<input type="hidden" name="id" value="{{target_article.id}}">
								<input type="submit" value="지원자보기">
							</form>
						</li>
		  		    </ul>
									{% endif %}


        <hr>
        {%  for comment in target_article.comment.all %}
            {%  include 'commentapp/detail.html' with comment=comment %}
        {%  endfor %}

        {%  include 'commentapp/create.html' with article=target_article %}

		</div>
				  
			</div>
	</div>

{% endblock %}