
{% extends 'base.html' %}
{%load static %}
{% block content %}


<div class="content">
	<div class="container">
			     <ul id="myList">
					 <li>
							{% for article in article_list %}
							<script type="text/javascript">
							var x = {{forloop.counter}}
							if (x % 3 == 1){
								document.write ( '<div class="l_g">');
								}
							</script>
							<script type="text/javascript">
								document.write ( '<div class="col-md-3 praesent">');
								document.write ( '<div class="l_g_r">');
								document.write ( '<div class="dapibus">');
							</script>

								<h4>{{article.title}}</h4>
								<p class="adm">Posted by <a href="#">{{article.publisher}}</a>  |  7 days ago</p>
								<a href="{% url 'articleapp:detail' pk=article.pk %}">
									<img src="{{ article.thumbnail.url }}" class="img-responsive" alt=""></a>
								<p>{{article.introduce }}</p>
						 <a href="{% url 'articleapp:detail' pk=article.pk %}" class="link">Read More</a>
							<script type="text/javascript">
								document.write ( '</div></div></div>');
							</script>
							{% if forloop.counter|divisibleby:3 %}
							<div class="col-md-3 integ">
								</div>
							{% endif %}
							{% if forloop.counter == 3 %}
							<script type="text/javascript">
								document.write ( '<div class="l_g_r">');
								document.write ( '<div class="posts">');
								document.write ( '<h4>Recent posts</h4>');
								document.write ( '<h6><a href="#">mypage</a></h6>');
								document.write ( '<h6><a href="#">회원관리</a></h6></div></div>');
							</script>
														{% endif %}

							{% if forloop.counter|divisibleby:3 %}
							<div class="clearfix"></div>
							{% endif %}

							{% endfor %}


					</li>
			        <!----//--->

					<div class="clearfix"></div>
					 						 <br>

			      </ul>
	 </div>

	</div>
</div>
{% endblock %}